


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fafafa;
}

main{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}


header{
    background-color: gray;
    color: #fafafa;
    text-align: center;
    
}


nav{
    background-color: gray;
    text-align: center;
    

    
}

nav a{
    text-decoration: none;
    color: #fafafa;
    margin: 10px;
   
}

section{
    text-align: center;
   
}

h2{
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(27, 25, 25);
    
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 150px;
    

}

p{
    text-align: center;
    margin-top: 10px;
    justify-content: center;
}

/****slider*****/

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 45%;
  height: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.swiper-slide img {
  background-color: #fafafa;
  display: flex;
  width: 97%;
  border-radius: 1%;
}

#scroll-container {
    border: 3px solid gray;
    border-radius: 5px;
    overflow: hidden;
    }
    
    #scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
    }
    
    /* for Firefox */
    @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
    }
    
    /* for Chrome */
    @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
    }
    
    @keyframes my-animation {
    from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    }
    to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    } 
    }

    aside a{
        width: 100%;
    }

    footer{
        background-color: gray;
        color:#fafafa;
        text-align: center;
        width: 100%;
        height: 6%;
        padding: 5px;
        position: static;
        bottom: 0%;
        margin-top: 0;
    }

   
   

    .sci{
        position: absolute;
        bottom: 40px;
        left: 100px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sci li{
        list-style: none;
    }
    .sci li a{
        display: inline-block;
        margin-left: 15px;
        background: gray;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: 0.2s ease-in-out;   
    }

    .sci li a:hover{
        background: black;
        transform: translate(-10px);
    
    }

    .sci li a img{
        filter: invert(1);
        transform: scale(0.5);
    }